/* Add these styles to your CSS file */
.navbar {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
  }
  
  .navbar-hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .navbar-visible {
    transform: translateY(0);
    opacity: 1;
  }
  