/* Resetting default margins and padding */
html, body {
    margin: 0;
    padding: 0;
}

/* Centering the container both horizontally and vertically */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}


.parent-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 1200px; 
    width: 100%;
    background-color:  #1E1E1E;
    box-sizing: border-box;
    height: 80%;
    overflow: hidden;
}
@media screen and (max-width: 900px) {
    #firstDiv {
        width: 100%; 
        margin-bottom: 10px; 
    }
    #secondDiv{
        display: none;
    }
}
.box {
    width: 50%;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    overflow: hidden; 
}

.img2{
    width: 100%;
    height: auto; 
    display: block; 
    transform: scale(0.9999);
}
#firstDiv{
    justify-content: center;
    align-items: center;
      position: relative;
}
