
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.loginn{
    background-color: 1E1E1E;
    position: absolute;
    top: 15%;
    left: 14%;
    width: 100%;
    height: 60%;
    
}
/* Default styles */
.first h2 {
    font-size: 20px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin-top: 10px;
}

.first h1 {
    font-size: 44px;
    color: #FFFF;
    font-weight: 700;
}


@media screen and (max-width: 768px) {
    .first h2 {
        font-size: 18px; 
    }
    
    .first h1 {
        font-size: 36px; 
    }
}


@media screen and (max-width: 480px) {
    .first h2 {
        font-size: 16px; 
    }
    
    .first h1 {
        font-size: 30px; 
    }
}

.first{
    line-height: 0.9;
}
.login-form-container{
    color: white;
}
.card{
    position: relative;
    width: 220px;
    margin-top: 20%;
  }
  
  .card form h1{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 10px;
  
  }
  
  .card form .input-box{
    width: 150%;
    height: 45px;
    position: relative;
    margin: 10px 0;
  }
  .card form .input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #dcdada;
    padding-left: 0%;
    color:#dcdada;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .card form .input-box i{
    position: absolute;
    color: #dcdada;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 22px;
    cursor: pointer;
  }
  .card form .input-box input::placeholder{
    color: #fff;
    text-transform: capitalize;
  }
  
  .card form .link{
    display: flex;
    margin: 20px 0 15px;
    justify-content: space-between;
  }

  .card form .link a{
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    transition: .3s ease;
    text-decoration: none;
  
  }
  .card form .link a:hover{
    color: #0ef;
  }
  .card .account{
    text-align: center;
  }
  
  .card .account p{
    color: #eee;
    font-size: 17px;
    text-transform: capitalize;
  }
  .card .account p a{
    color: #8d8888;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: .4s ease;
  }
  
  .card .account p a:hover{
    color: #0ef;
  }
#btn{
    position: absolute;
    width: 153%;
    height: 35px;
    left: 0px;
    top: 140%;
    background-color: #9C6FE4;
    border-radius: 10px;
    border-width: 0;     
  }
  #btn span{
    font-size: 20px;
    color: #FFFF;
    font-weight: 700;
  } 
 
.signup button{
   position:absolute;
   top:102%;
   left: 70%;
   padding-left: 18px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 18px;
   font-size: 14px;
   background-color: #333437;
   border-style: none;
   color: white;
   border-radius: 9px;
}
.dont-have-account{
    position: absolute;
    top:104%;
    color: white;
    left: -8%;
    font-weight: 250;
}
.i{
     
}