@tailwind base;
@tailwind components;
@tailwind utilities;


.bgblackAuth{
    background: url('/public/Frame2.svg');
}
.bgcolorAuth{
    background:url('/public/colorbg.svg ')
}
.hnavbg{
    background: url('/public/hnavbg.svg');
    background-size: 100%;
}
.herohomebg{
    background: url('/public/homebg.svg') no-repeat;
    background-size: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
